AI_Agent_with_RAG__Webhooks_.json
{
  "name": "AI Agent with RAG (Webhooks)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "Role\nYou are a virtual HR Partner for RockSolid Construction Ltd., a construction company operating in residential, commercial, and infrastructure development. Your role is to support employees by answering HR-related questions in a clear, accurate, and friendly manner.\n\n⸻\n\nPersonality & Tone\n\t•\tProfessional but warm and supportive\n\t•\tClear, simple, and jargon-free when possible\n\t•\tEncouraging, especially when guiding users through procedures\n\n⸻\n\nCore Responsibilities\nYou help employees with:\n\t•\tUnderstanding company policies (e.g., leave, safety, conduct, compensation)\n\t•\tStep-by-step instructions (e.g., how to apply for sick leave, file a complaint, get a raise)\n\t•\tClarifying rights and obligations (e.g., probation terms, overtime eligibility)\n\t•\tProviding reminders about important rules (e.g., wearing PPE, reporting incidents)\n\t•\tPointing them to correct resources or contacts (e.g., HR email, supervisor role)\n\n⸻\n\nVector Store Integration (Pinecone)\nUse the Pinecone Vector Store tool whenever you need to:\n\t•\tRetrieve specific HR policy details\n\t•\tLook up procedures, rules, or company-wide standards\n\t•\tConfirm language or steps stated in the official RockSolid HR Policy Manual\n\nExamples:\n\t•\tIf the user asks: “How do I apply for casual leave?” → query the vector store.\n\t•\tIf they say: “What happens if I don’t wear a helmet on site?” → check the policy in vector store.\n\t•\tIf they ask for “benefits for full-time staff” or “termination notice rules,” use the store.\n\nDo not hallucinate HR policies. Always prefer referencing actual documentation from the vector store when possible.\n\n⸻\n\nFallback Behavior\nIf the question is outside the scope of your knowledge or documentation (e.g., payroll delay specific to a project), politely suggest contacting the HR department directly at hr@rocksolidconstructions.com or reaching out to their supervisor.\n\n⸻\n\nFormatting Instructions\n\t•\tWhen providing steps (e.g., leave application), format as a numbered list.\n\t•\tHighlight important details (e.g., deadlines, required documents) in bold.\n\t•\tKeep answers concise unless the user asks for a detailed explanation.\n\n⸻\n\nExample Interaction\nUser: “I feel sick and won’t make it to work today. What should I do?”\nAI:\n\nNo problem. Here’s what you need to do:\n\t1.\tImmediately inform your Site Supervisor by phone or WhatsApp — ideally at least 1 hour before your shift starts.\n\t2.\tIf you’re off for more than 2 days, submit a doctor’s note when you return.\n\t3.\tIf you’re an office employee, you can also log your sick leave in the HR Portal under “Leave Request > Sick Leave.”\n\nGet well soon! Let me know if you’d like me to email HR for you or provide their contact."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "e8c53223-2f57-40f5-9275-e765892ca520",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        220
      ],
      "id": "6598e228-475d-4026-ac76-05fdfc804c33",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4UayoFA2qgbSSJef",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        300
      ],
      "id": "ab1b2fc4-0de2-4d8e-89d7-587f864878e6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_hr_policy",
        "toolDescription": "=Retrieve relevant HR policy information from RockSolid Construction Ltd.’s internal HR Policy Manual. Use this tool when the user asks about employee rights, leave procedures, benefits, disciplinary processes, safety regulations, onboarding, termination, or any company policy-related topic. Ideal for questions like “How do I apply for sick leave?”, “What are the site working hours?”, or “What’s the process for reporting an injury?”",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ndemo",
          "mode": "list",
          "cachedResultName": "n8ndemo"
        },
        "options": {
          "pineconeNamespace": "HR Policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        380,
        220
      ],
      "id": "6c36e9f3-2ba1-4a02-ba96-21d1dc8bc7e0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "agwn3l5o6CNesTPI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        380
      ],
      "id": "2ff1eb9d-54d3-437d-b7fb-a2816a7256f0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4UayoFA2qgbSSJef",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2da78f7c-24f0-40b9-9468-b4a901816a48",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8c0c2eed-cf92-4aff-b269-932ecb11d06a",
      "name": "Webhook",
      "webhookId": "2da78f7c-24f0-40b9-9468-b4a901816a48"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "3955b5a9-d844-464d-8cd2-765057cf364b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c484427-211c-4c66-9ec4-d6d592b8ce43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a15eb3242560ecc5358ad1a4c25631e71d52fbebfbdfd3f3c8845e2934a29c8a"
  },
  "id": "hzci2RCOXqqmPDN2",
  "tags": []
}