Cold_Email_With_SMTP_Node_.json
{
  "name": "Cold Email(With SMTP Node)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        20
      ],
      "id": "dd42a0d0-46cd-4669-8dcb-96d6c7a38a95",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        20
      ],
      "id": "566e1fb8-f513-4888-b139-f498b2f275dd",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ym8viET0IFW2A4RT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdc40194-662b-402b-b731-6405ce91259e",
              "leftValue": "={{ $json[\"Send Status\"] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        20
      ],
      "id": "1f150532-f8bb-4644-ad5e-6360aac576d0",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "93fc413c-c8bf-43df-ad44-a1f64ccfa40f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 695978983,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit#gid=695978983"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        660,
        -180
      ],
      "id": "5d8500df-6ce6-4210-80c7-b62fad8765b4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ym8viET0IFW2A4RT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -180
      ],
      "id": "414ae19a-2a99-471b-ba1b-a5b56c2bade4",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1100,
        -105
      ],
      "id": "0f69e910-5733-4d3e-b93b-06d9c586b91f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6a6ba02-422b-4e7c-a73e-03901cc2db0c",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -100
      ],
      "id": "517e1874-4c6b-43f8-907c-3013ecd0ddfa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1760,
        -155
      ],
      "id": "dfc76c36-7eb4-4ab6-b70e-cd3cad0e1776",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHd6f4xZLT2uCx9OiuvZmMjr_J7yjbd9buhHi-LKxDo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Send Status": "={{ $json.response.includes(\"250 2.0.0 Ok\") ? \"SENT\" : \"Failed\" }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1980,
        -160
      ],
      "id": "95847cc8-6923-4eb8-9f25-90fe5c88ae96",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ym8viET0IFW2A4RT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        95
      ],
      "id": "8cde8d24-27ed-4b41-a7bf-9a465564c947",
      "name": "Wait",
      "webhookId": "d68a50a5-0f8f-437d-8d05-454caff16680"
    },
    {
      "parameters": {
        "content": "   ## Get Leads Data From Google Sheet",
        "height": 320,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        -100
      ],
      "typeVersion": 1,
      "id": "bf948ec9-afcc-4d66-bb03-0bffae7cfee7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Email Templates From Google Sheet\n",
        "height": 300,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        -300
      ],
      "typeVersion": 1,
      "id": "e449138a-e0b5-47f0-83c4-6048a1702534",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Log The Status",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        -240
      ],
      "typeVersion": 1,
      "id": "07494fd2-c71d-4dbc-85a3-f6f148f707f9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fromEmail": "mail@yourdomain.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1540,
        0
      ],
      "id": "b4989255-19e2-43ed-9557-2044b041b452",
      "name": "Send Email",
      "webhookId": "2ec50129-689f-46b1-a749-8a8c7281da46",
      "credentials": {
        "smtp": {
          "id": "WiGq1A78LoqLlA4H",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd8685b3-a89a-4aa6-bd8e-4a604395330f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "822bf193edbd0989f37aabcee419c2e6eabebe607b846137d4801d0a51625c83"
  },
  "id": "7ryNkJCiIblPn0Ca",
  "tags": []
}